numpy==1.26.4
pandas==2.3.3
scikit-learn==1.8.0

# torch==2.6.0
torch-geometric==2.7.0
rdflib==7.6.0

matplotlib==3.10.8
tqdm==4.67.3

# For CPU-only:
#torch==2.6.0 --extra-index-url https://download.pytorch.org/whl/cpu
# For CUDA 12.4
torch==2.6.0 --extra-index-url https://download.pytorch.org/whl/cu124


